<!-- <app-master-menus></app-master-menus>
<h1>class</h1> -->

<nav class="navbar navbar-expand bg-primary py-0">
  <div class="nav-list py-0">
    <div class="nav-list-item">
      <i class="bx bxs-dashboard"></i>
      <a> <span>Maps </span></a>
    </div>
  </div>
  <div class="nav-list">
    <div class="nav-list-item">
      <i class="bx bxs-dashboard"></i>
      <a> <span>Schedules </span></a>
    </div>
  </div>
  <div class="nav-list">
    <div class="nav-list-item">
      <i class="bx bxs-dashboard"></i>
      <a> <span>Routes </span></a>
    </div>
  </div>
  <div class="nav-list">
    <div class="nav-list-item">
      <i class="bx bxs-dashboard"></i>
      <a> <span>Trips </span></a>
    </div>
  </div>
</nav>
