<app-dashboard-menus></app-dashboard-menus>
<div class="container-fluid  ">
    <div class="back-img position-relative">
      <!-- <img src="../../../assets/img/map2.png" class="img-fluid"> -->
      <div class="row justify-content-center pt-1">
        <div class="col-8 col-sm-8">
          <div class="card w-100">
            <div class="card-body p-2">
              <div class="row">
                <div class="col-4 col-sm-4">
                  <div class="row">
                    <div class="col-4 col-sm-4">
                      <i class="fa-solid fa-road sidenav-link-icon cursor"> </i>
                    </div>
                    <div class="col-8 col-sm-8 pt-1">
                      <select
                        class="form-select form-select-sm"
                        aria-label="Small select example"
                      >
                        <option selected>XYZ</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa-solid fa-bus sidenav-link-icon cursor"></i>
                    </div>
                    <div class="col-8 pt-1">
                      <select
                        class="form-select form-select-sm"
                        aria-label="Small select example"
                      >
                        <option selected>RJ 45</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa-solid fa-map sidenav-link-icon cursor"></i>
                    </div>
                    <div class="col-8 pt-1">
                      <select
                        class="form-select form-select-sm"
                        aria-label="Small select example"
                      >
                        <option selected>Route 25</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-1 mb-3 pb-3 position-absolute" style="right: 0px">
        <div
          class="card live-track-card-height overflow-hidden"
          style="width: 13rem; background-color: #fcf9f5ff"
        >
          <div class="card-body card-trek justify-content-center text-center">
            <h5 class="card-title">Live Tracking</h5>
            <div class="wrapper">
              <ol class="c-timeline">
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Start</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Vaishali</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Vaishali</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Vaishali</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Vaishali</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
                <li class="c-timeline__item">
                  <div class="c-timeline__content">
                    <h3 class="c-timeline__title">Stop</h3>
                  </div>
                  <time>10:03</time>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row  justify-content-center position-absolute ms-5"
            style="bottom: 0px; width:90%"
      >
        <div class="col-12 ">
          <div class="card ">
            <div class="card-body p-1 mt-1">
              <div class="row  justify-content-center">
                <div
                  class="col-3 border-end border-dark" >
                  <div class="row pt-1">
                    <div class="col-4 ">
                      <i class="fa-solid fa-map sidenav-link-icon-1 cursor"> </i>
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col-12" style="height: 1rem">
                          <p
                            class="font-color md-font-center"
                            style="font-size: 1rem; font-weight: 600"
                          >
                            Route
                          </p>
                        </div>
                      </div>
                      <div class="row p-0">
                        <div class="col-12  md-font-center">
                          <p style="font-size: 1.7rem; font-weight: 600">24</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 border-end border-dark">
                  <div class="row pt-1">
                    <div class="col-4">
                      <i class="fa-solid fa-route sidenav-link-icon-1 cursor"></i>
                    </div>
                    <div class="col-8  md-font-center nm-font-no-wrap">
                      <!-- <div class="row p-0 "> -->
                      <!-- <div class="col-12 p-0 "style="height:1rem"> -->
                      <p
                        class="font-color"
                        style="
                          font-size: 1rem;
                          font-weight: 600;
                          color: #494949ff;
                        "
                        class="pb-0 mb-0"
                      >
                        <span class="font-color" style="font-size: 0.85rem"
                          >From</span
                        >
                        Amber Palace
                      </p>
                      <p
                        class="font-color"
                        style="font-size: 1rem; font-weight: 600"
                      >
                        <span class="font-color" style="font-size: 0.85rem"
                          >To</span
                        >
                        Vaishali Nagar
                      </p>
                    </div>
                    <!-- </div> -->
  
                    <!-- </div> -->
                  </div>
                </div>
                <div class="col-3  border-end border-dark">
                  <div class="row pt-1">
                    <div class="col-4">
                      <i class="fa-solid fa-map sidenav-link-icon-1 cursor"></i>
                    </div>
                    <div class="col-8  md-font-center md-font-flex">
                      <div class="row">
                        <div class="col-12" style="height: 1rem">
                          <p
                            class="font-color"
                            style="font-size: 1rem; font-weight: 600"
                          >
                            Stoppage
                          </p>
                        </div>
                      </div>
                      <div class="row md-font-center">
                        <div class="col-12">
                          <p style="font-size: 1.7rem; font-weight: 600">12</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="row pt-1">
                    <div class="col-4 ">
                      <i class="fa-solid fa-bus sidenav-link-icon-1 cursor"></i>
                    </div>
                    <div class="col-8 md-font-center nm-font-no-wrap">
                      <p
                        class="font-color pb-0 mb-0"
                        style="
                          font-size: 1rem;
                          font-weight: 600;
                          color: #494949ff;
                        "
                      >
                        Ramesh Datte
                      </p>
                      <p
                        class="font-color"
                        style="font-size: 1rem; font-weight: 600"
                      >
                        MH12CT9878
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
