<nav class="navbar navbar-expand">
  <div class="container-fluid px-4">
    <div class="div-left">
      <div class="logo">
        <img src="../../assets/img/log-app-main.png" alt="" />
      </div>
    </div>
    <div class="div-right d-flex justify-content-end align-items-center">
      <div class="rounded-circle-container me-3">
        <img
          src="/assets/img/photo-1591258739299-5b65d5cbb235.jpg"
          class="img-fit"
          alt="Chris Wood"
        />
      </div>
      <div class="text-white fs-5 me-2">Chris Wood</div>
      <i class="bx bxs-chevron-down text-white fs-5"></i>
    </div>
  </div>
  <!-- <div
    class="side-nav-button p-2 ms-3 me-3 px-2 border border-white logo"
    (click)="sidenavtoggle()"
  >
    <i
      class="fa-solid fa-bars-staggered"
      style="color: #ffffff; font-size: 19px"
    ></i>
  </div> -->

  <!-- <a href="" class="navbar-brand px-3">
    <img
      src="../../assets/img/log-app-main.png"
      alt=""
      height="30px"
      width=""
    />
  </a> -->
  <!-- <div class="profile-logo dropstart">
    <button class="btn btn-outline dropdown-menu-dark">
        Abhinav
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a href="" class="dropdown-item">Log Out</a></li>
    </ul>
</div> -->
</nav>
