<div class="container-fluid g-0">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" 
          routerLink="/tracking"
            routerLinkActive="active"
          >Tracking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="/schedules"
          routerLinkActive="active">Schedules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/routes"
          routerLinkActive="active"
          >Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   routerLink="/trips"
            routerLinkActive="active"
            >Trips</a>
          </li>
      </ul>
    <!-- <div class="row border border-black text-center justify-content-center">
        <div class="col-sm-3 col-3 active-header-1 border border-black pt-1"> 
            <a href="" class="submenus" routerLink="/tracking"
            routerLinkActive="active-button"
        
            ><h3>Tracking</h3></a>
        </div>
        <div class="col-sm-3 col-3 active-header-1 border border-black pt-1">
            <a href="" class="submenus" routerLink="/schedules"
            routerLinkActive="active-button"
         
            ><h3>Schedules</h3></a>
        </div>
        <div class="col-sm-3 col-3 active-header-1 border border-black pt-1">
            <a href="" class="submenus" routerLink="/routes"
            routerLinkActive="active-button"
         
            ><h3>Routes</h3>
        </a>
        </div>
        <div class="col-sm-3 col-3 active-header-1 border border-black pt-1">
            <a href="" class="submenus" routerLink="/trips"
            routerLinkActive="active-button"
          
            ><h3>Trips</h3>
        </a>
            </div>
    </div> -->
</div>
