<app-dashboard-menus></app-dashboard-menus>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-1 mb-1">
      <div
          class="card live-track-card-height overflow-hidden"
          style="width: 18rem; background-color: #fcf9f5ff"
        >
        <div class="card-body justify-content-center">
          <h5 class="card-title text-center">Live Tracking</h5>
          <div class="wrapper">
            <ol class="c-timeline">
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Start</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Vaishali</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Vaishali</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Vaishali</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Vaishali</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <h3 class="c-timeline__title">Stop</h3>
                </div>
                <time>10:03</time>
              </li>
            </ol>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9 mb-1">

    
        <div class="card-body back-img2">
        </div>
  
     
    </div>
    <div class="col-md-3">
      <div class="card shadow p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="row">
                <div class="col-4 col-sm-4">
                  <i class="fa-solid fa-road sidenav-link-icon cursor"> </i>
                </div>
                <div class="col-8 col-sm-8 pt-1">
                  <select
                    class="form-select form-select-md"
                    aria-label="Small select example"
                  >
                    <option selected>XYZ</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 mt-2">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-bus sidenav-link-icon cursor"></i>
                </div>
                <div class="col-8 pt-1">
                  <select
                    class="form-select form-select-md"
                    aria-label="Small select example"
                  >
                    <option selected>RJ 45</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 mt-2">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-map sidenav-link-icon cursor"></i>
                </div>
                <div class="col-8 pt-1">
                  <select
                    class="form-select form-select-md"
                    aria-label="Small select example"
                  >
                    <option selected>Route 25</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow p-0 mb-0">
        <div class="card-body ">
          <div class="row">
            <div class="col-12 col-sm-12" >
              <div class="row">
                <div class="col-4 ">
                  <i class="fa-solid fa-map sidenav-link-icon cursor"> </i>
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-12" style="height: 1rem">
                      <p
                        class="font-color md-font-center"
                        style="font-weight: 600"
                      >
                        Route
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12  md-font-center">
                      <p style="font-size: 1.3rem; font-weight: 600">24</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-route sidenav-link-icon cursor"></i>
                </div>
                <div class="col-8  md-font-center nm-font-no-wrap">
                  <!-- <div class="row p-0 "> -->
                  <!-- <div class="col-12 p-0 "style="height:1rem"> -->
                  <p
                    class="font-color"
                    style="
                      font-weight: 600;
                      color: #494949ff;
                    "
                    class="pb-0 mb-0"
                  >
                    <span class="font-color" style="font-size: 0.85rem"
                      >From</span
                    >
                    Amber Palace
                  </p>
                  <p
                    class="font-color"
                    style="font-weight: 600"
                  >
                    <span class="font-color" style="font-size: 0.85rem"
                      >To</span
                    >
                    Vaishali Nagar
                  </p>
                </div>
                <!-- </div> -->

                <!-- </div> -->
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-map sidenav-link-icon cursor"></i>
                </div>
                <div class="col-8  md-font-center md-font-flex">
                  <div class="row">
                    <div class="col-12" style="height: 1rem">
                      <p
                        class="font-color"
                        style="font-weight: 600"
                      >
                        Stoppage
                      </p>
                    </div>
                  </div>
                  <div class="row md-font-center">
                    <div class="col-12">
                      <p style="font-size: 1.3rem; font-weight: 600">12</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12">
              <div class="row">
                <div class="col-4 ">
                  <i class="fa-solid fa-bus sidenav-link-icon cursor"></i>
                </div>
                <div class="col-8 md-font-center nm-font-no-wrap">
                  <p
                    class="font-color"
                    style="
                      font-weight: 600;
                      color: #494949ff;
                    "
                  >
                    Ramesh Datte
                  </p>
                  <p
                    class="font-color"
                    style="font-weight: 600"
                  >
                    MH12CT9878
                  </p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow p-3">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow p-3">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
              