<div class="container-fluid g-0 mt-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" 
          routerLink="/student"
            routerLinkActive="active"
          >Student Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="/class"
          routerLinkActive="active">Class Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/parent"
          routerLinkActive="active"
          >Parent Master</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   routerLink="/driver"
            routerLinkActive="active"
            >Driver Master</a>
          </li>
      </ul>
    
</div>
